/* fonts */
@font-face {
    font-family: impact;
    src: url(../fonts/impact.ttf);
  }

@font-face {
    font-family: georgia;
    src: url(../fonts/georgia.ttf);
  }



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
/* hebrew font*/
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* add animations */
html{
    scroll-behavior: smooth;
}

:root{
    --text-color: #4f4e4e;

}


* {
    box-sizing: border-box;
    /* transition: all 1s ease-in-out; */
    /* transition: 1s ease-in-out; */
}

.direction-rtl{
    direction:rtl;
}

.direction-ltr {
    direction: ltr;
}

body{
    display: block;
    margin: 0;
    font-size:16px;
    /*font-size: calc(16px + 2 * ((100vw - 320px) / 980)); remove*/ 
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #ffffff;
    border-bottom: 1px solid #888;

    /* sticky header */
    position: sticky;
    top: 0px;
    z-index: 99;
}

.container{
    max-width: 95%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

.menu-open .screen{
    visibility: visible;
    opacity: 1; 
}

.menu-open .main-nav-ul{
    visibility: visible ;
    opacity: 1;
    max-width: 200px;
}

button , a {
    cursor: pointer;
}
.menu-button{
    visibility: hidden;
    display: none;
    font-size: 1.625rem;
    color: #c31819;
}

.menu-button:hover{
    color: #000;
}

.screen{
    visibility: hidden;
    opacity: 0;
    background: #0000005e;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 99;
    transition: 1s ease-in-out;
}

.main-nav-ul{
    visibility: hidden; 
    opacity: 0;
    flex-direction: column;
    transition: 1s ease-in-out;
}

.main-nav-ul li{
    list-style-type: none;
    display: flex;
}

.main-nav-ul li:last-of-type{
    flex-grow: 1;
}

.main-nav-ul li a.link {
    font-weight: 500;
    color: #c31819;
    text-decoration: none;
    padding: 1em 1.6em;
    font-size: 1em;
    text-shadow: 1px 1px #fff; 
}

.main-nav-ul li a.link:hover{  
    color: #3a80c9;
}

.main-nav-ul li .langSelect{
    font-weight: 500;
    color: #989898;
    text-decoration: none;
    font-size: 1em;
    border: 1px solid #fff;
    outline: none;
}
.main-nav-ul li option{
    border: 1px solid #989898;
    color: #989898; 
}


/* dropdown */
.dropdown{ 
    position: relative;
    display: inline;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    align-items: center;
  }

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 4px 6px;
    z-index: 1;
    border-bottom: 1px #fff solid;
    background: #c31819;
}
  
.dropdown a{
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    padding: 3px 0;
    font-size: 1em;
    padding-inline-start: 30px;
}

.dropdown:hover a.link{
    color: #000
}

.dropdown-content li{
    padding: 5px 0;
}

.dropdown-content li a:hover{
    color: #000
}

/*.dropdown-content display for mobile only */
.drop-down-open .dropdown:hover .dropdown-content{
    display: block;
}

/* logo */
.logo{
    color: #666;
    font-family: impact;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 2% 0;
}

.logo img{
    width: 210px;
    height: auto;
}

/* gallery */

.gallery{
    margin-top:10px
}

.images {
    display: flex;
}

img.imgMemeGallery {
    display: block;
    background: #292929;
    margin: 10px;
    border-radius: 10px;
    width: auto;
    width: 300px;
    height: auto;
    max-width: 300px;
    max-height: 225px;
    width: auto;
    height: auto;
    object-fit: cover;
    -webkit-box-shadow: 0px 2px 16px 5px rgba(0,0,0,0.33); 
    box-shadow: 0px 2px 16px 5px rgba(0,0,0,0.33);
}

navigation{
    margin: 30px 0;
}

.previus , .next{
    cursor: pointer;
    padding: 10px 30px;
    background: #efefef;
    border-bottom: 1px solid #DEDEDE;
    text-shadow: 1px 1px #fff;
}

.gallery .actions{
    width:100%;
    flex-direction: column;
}

.tags{
    padding: 0 10px;
}
.tags .tag{
    padding: 0 10px;
}
/* canvas */
.canvas-container{  
    flex-direction: column;
    padding: 10px;
}

.canvas{
    position: relative;
    width: 95%;
    max-width: 750px;
    height: 500px;
}

.canvas-meme{
    position: absolute;
    width: 100%;
    background: #dedede;
    border: 1px solid #000;
}

.canvas-input-txt {
    position: relative;
    background: #00000000;
    border: 0px solid #000;
}

.canvasSaved{
    padding: 0 10px;
}

.canvasSavedMeme{
    
    width: 100%;
    background: #dedede;
    border: 1px solid #000;
}


/* actions */
.canvas-container .actions{
    padding: 0 10px;
    width: 100%;
    max-width: 750px;
}

input{
    font-family: 'Roboto', sans-serif;
}

.canvas-container .actions .input ,.canvas-container .actions .input:visited  {
    display: block;
    background: #efefef;
    text-decoration: none;
    text-align: center;

    color:#000;
    font-size: 1em;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-bottom: 1px solid #DEDEDE;
    height: 50px;
    line-height: 25px;
    margin: 10px 0;
    text-shadow: 1px 1px #fff;
}

.canvas-container .actions .input i , .uploadFileLabel i{
    margin: 0 5px;
    
}
.canvas-container .actions .input.fb ,.actions .input.save{
    width:100%;
}

.canvas-container .actions h2{
    color: #727272;
    font-size: 1.5em;
}

.ButtonsFontSize{
    margin: 10px 0 0 0 ;
    flex-wrap: wrap;
}

.ButtonsFontSize button{
    font-family: georgia;
    margin: 0px 10px 10px 0;
    background: white;
    text-align: center;
    padding: 8px 0;
    border: 1px solid #fff;
    font-size: 1em;
    display: flex;
    color: #727272;
    min-width: 20px;
}

.buttonPlus i , .buttonMinus i{
    font-size: 0.5em;
}

button.addLine{
    font-size: 1.4em;
}

.line-seperation{
    height: 40px;
    border-left: 1px solid #888;
    padding: 0 5px;
}

input.color-text {
    height: 40px;
    margin: 0 5px;
    background: white;
    padding: 0;
    border: 1px solid #fff;
}

.selectFont {
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 2px;
    height: 40px;
    padding: 0 30px 0 10px;
    margin-right: 10px;
    font-size: 12px;
    font-size: 0.75em;
    color: #989898;
}

input.inputSearch {
    padding: 10px;
    font-size: 1em;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 81px;
    width: 96%;
    margin: 0 auto;
}

input.file-input{
    background: #efefef;
}

.stickers-container {
    margin: 10px 0;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input{
    visibility: hidden;
    display: none;
}

/*
.!custom-file-input::before {

    content: 'Upload';
    display: inline-block;
    background: #efefef;
    border-radius: 3px;
    border-bottom: 1px solid #dedede;
    padding: 10px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 100;
    font-size: 1.2em;
}
*/
.uploadFileLabel{
    display: inline-block;
    background: #efefef;
    border-radius: 3px;
    border-bottom: 1px solid #dedede;
    padding: 13px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 100;
    font-size: 1em;
    text-align: center;
}

.custom-file-input:hover::before {
border-color: black;
}

.custom-file-input:active::before {
background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

img.emoji{
    width:40px;
    height: auto;
}

/* saved memes */

.savedMemes .memes{
    flex-wrap: wrap;
}

/* footer */
footer{
    background-color: #f8f8f8;
}

footer .logo{
    padding: 80px 0 0 0;
}

footer p {
    color: #a6a6a6;
    text-align: center;
    padding: 32px 10px;
}

footer ul{
    color: #a6a6a6;
    padding: 38px 0 0 0;
    max-width: 100%;
}

footer ul li{
    margin: 0 20px;
    font-size:1.4rem;
    background-color: #e5e5e5; 
    list-style-type: none;
    width: 40px;
    height: 40px;
}

footer ul li a{
    color:#fff;
}

footer ul li:hover{
    background-color: #516fad;
}



/* helpers */
.flex{
    display:flex;
}

.flex-direction-column{
    flex-direction: column;
}

.flex-align-center{
    align-items: center;
}

.flex-align-start{
    align-items: flex-start;
}

.justify-content-start{
    justify-content: start;
}
 
.justify-content-center{
    justify-content: center;
}

.flex-space-between{
    justify-content: space-between;
}

.align-items-strech{
    align-items:stretch;
}

.align-self-start{
    align-self: start;
}

.align-self-center{
    align-self: center;
}

.flex-wrap{
    flex-wrap: wrap;
}
/* responsive */

@media only screen and (min-width: 720px) {
    .container {
        max-width: 620px;
        margin: 10px auto 0 auto;
        
    }

    .main-nav-ul{
        visibility: visible;
        opacity: 1;
    }

    .main-nav-ul {
        flex-direction: row;
    }
  
    footer p {
        padding: 32px 0 0 0;
    }

    .ButtonsFontSize{
        flex-wrap: wrap; 
    }

    /* hide mobile screen on desktop */
    .screen{
        visibility: hidden;
    }
    .menu-open .screen{
        visibility: hidden;
    }

    /*.dropdown-content display for desktop only */
    .dropdown:hover .dropdown-content{
        display: block;
        position: absolute;
    }

    .savedMemes .memes{
        flex-wrap: nowrap;
    }
}

@media only screen and (min-width: 920px) {
    .container {
        max-width: 700px;
        margin: 0 auto;
    }
    
    .gallery{
        margin-top:10px
    }

}

@media only screen and (min-width: 1020px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .gallery{
        margin-top:10px
    }

}

@media only screen and (min-width: 1100px) {
    .container {
        max-width: 1000px;
    }

    .gallery{
        margin-top:10px
    }

    .canvas-container{
        flex-direction: row;
    }

    .canvas{
        position: relative;
        width: 50%;
        max-width: 750px;
        height: 500px;
    }

    .canvas-container .actions{
        padding: 0 10px;
        width: 50%;
        max-width: 550px;
        align-self: self-end;
    }



    .savedMemes .memes .canvasSaved{
        position: relative;
        width: 25%;
        max-width: 250px;
        height: 250px;
    }

}

@media only screen and (min-width: 1210px) {
    .container {
        max-width: 1110px;
    }
}
@media only screen and (max-width: 720px) {
    .main-nav-ul {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        background: #eaeaea;
        width: 100%;
        max-width: 0px;
        margin: 0;
        padding: 0;
        height: 100vh;
        z-index: 99;
    }

    .main-nav-ul li a.link {
        display: block; 
        padding: 10px 40px;
        border-bottom: 1px #fff solid;
        width: 100%;
    }

    .menu-button {
        visibility: visible;
        display: block; 
    }
    
}