.header{
    background-color: #ffffff;
    border-bottom: 1px solid #888;

    /* sticky header */
    position: sticky;
    top: 0px;
    z-index: 99;
}

.container{
    max-width: 95%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

.menu-open .screen{
    visibility: visible;
    opacity: 1; 
}

.menu-open .main-nav-ul{
    visibility: visible ;
    opacity: 1;
    max-width: 200px;
}

.menu-open .menu-button{
    transform: rotate(90deg);
}

button , a {
    cursor: pointer;
}
.menu-button {
    visibility: hidden;
    display: none;
    font-size: 1.625rem;
    color: #c31819;
}

.menu-button:active ,.menu-button:visited{
    color: #c31819;
}

.menu-button:hover{
    color: #c31819;
}

.screen{
    position: absolute;
    top: 58px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: #0000005e;
    width: 100%;
    height: 100vh;
    z-index: 99;
    transition: 1s ease-in-out;
}

.main-nav-ul{
    visibility: hidden; 
    opacity: 0;
    flex-direction: column;
    transition: 1s ease-in-out;
}

.main-nav-ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.main-nav-ul li:last-of-type{
    /* flex-grow: 1; */
}

.main-nav-ul li a.link {
    font-weight: 500;
    color: #c31819;
    text-decoration: none;
    padding: 1em 1.6em;
    font-size: 1em;
    text-shadow: 1px 1px #fff; 
}

/* a hover */
.main-nav-ul li a.link:hover{  
    color: #000;
}

.main-nav-ul li a.link.active{  
    color: #000;
}

.main-nav-ul li .langSelect{
    font-weight: 500;
    color: #989898;
    text-decoration: none;
    font-size: 1em;
    border: 1px solid #fff;
    outline: none;
}
.main-nav-ul li option{
    border: 1px solid #989898;
    color: #989898; 
}


/* dropdown */
.dropdown{ 
    position: relative;
    display: inline;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    align-items: center;
  }

.dropdown-content {
    display: none;
    position: absolute;
    /* top: 40px; */
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 4px 6px;
    z-index: 1;
    border-bottom: 1px #fff solid;
    background: #c31819;
}
  
.dropdown a{
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 3px 0;
    font-size: 1em;
    padding-inline-start: 30px;
}

.dropdown:hover a.link{
    color: #000
}

.dropdown-content li{
    padding: 5px 0;
}

.dropdown-content li a:hover{
    color: #000
}



/* logo */
.logo{
    color: #666;
    font-family: impact;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 2% 0;
}

.logo img{
    width: 210px;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #b5b5b5);
    filter: drop-shadow(5px 5px 5px #b5b5b5);
}

/* gallery */
h2{
    margin: 20px 0 20px;
    font-size: 2em;
    padding: 0px 10px 1px 10px;
    border-bottom: 4px solid #c31819;
    color: #727272;
    align-self: center;
}

.h2-margin-top{
    margin: 80px 0 20px;
}

.gallery{
    margin-top:10px
}

.images {
    display: flex;
}

img.imgMemeGallery {
    display: block;
    background: #292929;
    margin: 10px;
    border-radius: 10px;
    width: 300px;
    height: auto;
    object-fit: cover;
    -webkit-box-shadow: 0px 2px 16px 5px rgba(0,0,0,0.33); 
    box-shadow: 0px 2px 16px 5px rgba(0,0,0,0.33);
    cursor: pointer;
    transition: width 0.75s, margin 1.5s;
}

  
img.imgMemeGallery:hover {
    margin: 15px;
    width: 320px;
}

navigation{
    margin: 30px 0;
}

main.pagination {
    width: 80%;
}

.previus , .next{
    cursor: pointer;
    padding: 10px 12px;
    background: #efefef;
    border-bottom: 1px solid #DEDEDE;
    text-shadow: 1px 1px #fff;
}

.direction-rtl .previus{ 
    order:-1;
}

.gallery .actions{
    width:100%;
    flex-direction: column;
    min-height: 300px;
}


.tags .tag{
    padding: 0 10px;
    cursor: pointer;
}
.show-tags .tags{
    max-height: initial;
}

.tagsMainContainer{
    position: relative;
    width: 100%;
    flex-direction: column;
}

.tagsMainContainer .buttons{
    min-width: 160px;
    flex-direction: row;
    justify-content: center;
}

.tagsMainContainer .input  {
    display: block;
    background: #efefef;
    text-align: center;
    color:#000;
    font-size: 1em;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-bottom: 1px solid #DEDEDE;
    height: 50px;
    min-width: fit-content;
    line-height: 25px;
    margin: 10px 6px;
    text-shadow: 1px 1px #fff;
    border-radius: 30px;
    outline: none;
    align-self: center;
}

.tagContainer {
    position: relative;
    width: 100%;
    margin: 0;
}

.tags{
    padding: 10px 10px;
    max-height: 108px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background: #f15f61e8;
    border-radius: 20px;
    text-shadow: 1px 1px #000;
    font-weight: 500;
    color: #fff;
    border: 1px solid #9c9c9c;
    max-width: 350px;
    margin: 0 auto;
}

/* canvas */
.canvas-container{  
    flex-direction: column;
    padding: 10px;
}

.canvas{
    position: relative;
    width: 100%;
    min-height: 420px;
    /* min-width: 750px; */
    /* height: 500px;  */
    margin: 0 0 40px;
}

.canvas-meme{
    position: absolute;
    width: 100%;
    background: #dedede;
    border: 1px solid #000;
}

.canvas-input-txt {
    position: relative;
    background: #00000000;
    border: 0px solid #000;
}

.canvasSaved{
    padding: 0 10px;
}

.canvasSavedMeme{
    
    width: 100%;
    background: #dedede;
    border: 1px solid #000;
}


/* actions */
.canvas-container .actions{
    padding: 0 10px;
    width: 100%;
    max-width: 750px;
}

.actions-header {
    margin: 0 0 12px 0;
}

input{
    font-family: 'Roboto', sans-serif;
}

.canvas-container .actions .input ,.canvas-container .actions .input:visited {
    display: block;
    background: #efefef;
    text-decoration: none;
    text-align: center;

    color:#000;
    font-size: 1em;
    padding: 10px 12px;
    border: 1px solid #fff;
    border-bottom: 1px solid #DEDEDE;
    height: 50px;
    line-height: 25px;
    margin: 10px 0;
    text-shadow: 1px 1px #fff;
    min-width: 126px;
}

.canvas-container .actions .input i , .uploadFileLabel i{
    margin: 0 5px;
    
}
.canvas-container .actions .input.fb ,.actions .input.save{
    width:100%;
}

.canvas-container .actions h3{
    color: #727272;
    font-size: 1.5em;
    margin: 0;
}

.ButtonsFontSize{
    margin: 0 0 0 0 ;
    flex-wrap: wrap;
}

.ButtonsFontSize .rub{
    margin-bottom: 10px;
}

.ButtonsFontSize button{
    font-family: georgia;
    margin: 0px 10px 0px 0;
    background: white;
    text-align: center;
    padding: 0px 0;
    border: 1px solid #fff;
    font-size: 1em;
    display: flex;
    color: #727272;
    min-width: 20px;
}

.buttonPlus i , .buttonMinus i{
    font-size: 0.5em;
}

button.addLine{
    font-size: 1.4em;
}

.line-seperation{
    height: 40px;
    border-left: 1px solid #888;
    padding: 0 5px;
}

input.color-text {
    height: 40px;
    margin: 0 5px;
    background: white;
    padding: 0;
    border: 1px solid #000;
}

.selectFont {
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 2px;
    height: 40px;
    padding: 0 30px 0 10px;
    margin-right: 10px;
    font-size: 12px;
    font-size: 0.75em;
    color: #989898;
}

input.inputSearch {
    padding: 14px;
    font-size: 1em;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 81px;
    width: 100%;
    margin: 0 auto;
    align-self: flex-end;
}

input.file-input{
    background: #efefef;
}

.stickers-container {
    margin: 10px 0;
}

.custom-file-input{
    visibility: hidden;
    display: none;
}

.uploadFileLabel{
    display: inline-block;
    background: #efefef;
    border-radius: 3px;
    border-bottom: 1px solid #dedede;
    padding: 15px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 100;
    font-size: 1em;
    text-align: center;
    min-width: 126px;
}

.custom-file-input:hover::before {
border-color: black;
}

.custom-file-input:active::before {
background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

img.emoji{
    width:40px;
    height: 40px;
    display: block;
}

/* saved memes */

.savedMemes .memes{
    flex-wrap: wrap;
}

/* footer */
footer{
    background-color: #f8f8f8;
}

footer .logo{
    padding: 80px 0 0 0;
}

footer p {
    color: #a6a6a6;
    text-align: center;
    padding: 32px 10px;
}

footer ul{
    color: #a6a6a6;
    padding: 38px 0 0 0;
    max-width: 100%;
}

footer ul li{
    margin: 0 20px;
    font-size:1.4rem;
    background-color: #e5e5e5; 
    list-style-type: none;
    width: 40px;
    height: 40px;
}

footer ul li a{
    color:#fff;
}

footer ul li:hover{
    background-color: #c31819;
}
